- content_for :head do
  %script{type: "text/javascript"}
    if($$url === undefined) {
    var $$url = {};
    }
    $$url['watch_course'] = "#{user_watches_path(user)}"


.span8
  %h3 Monitored courses:

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th CCN
        %th Name
        %th Status
        %th &nbsp;
    %tbody
      - user.watches.sort_by(&:created_at).each do |watch| 
        - if watch
          - c = watch.course
          %tr
            %td= c.ccn
            %td= c.name
            %td= c.status
            %td= link_to 'delete', user_watches_path(user, watch), method: :delete, class: 'btn'
        - else
          %tr No courses watched yet
  %p
    %a.btn.btn-primary{:'data-toggle' => 'modal', :'data-target' => '#new-course-modal'}
      %i.icon-white.icon-plus-sign
      New Course To Watch


.modal.hide.fade#new-course-modal
  .modal-header
    %button.close{:'data-dismiss' => 'modal'} x
    %h3 Add Course
  .modal-body
    = form_tag(user_watches_path(user), method: :post, id: 'user_watched_course_create')
    = label_tag(:ccn, 'CCN of the course:')
    = text_field_tag(:ccn)
    = label_tag(:monitor_type, 'Watch waitlist? ')
    = select_tag('monitor_type', options_for_select(['yes','no']))
    .br

    .alert.hide
    %a.btn{:'data-dismiss' => 'modal'} Close
    %input.btn.btn-primary{:type => 'submit', :value => 'Add Course'}